@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET TASK</h1>
    <p class="lead">Done By Mohammad Afify.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stating with Courses</h2>
        <p>
            Start with Courses, you can creata, edit, delete and assign courses to instructors
            the course with assigned instructor can't be deleted
        </p>
        <div class="btn btn-default btn-sm">@Html.ActionLink("Courses", "Index", controllerName: "Courses") </div> 
    </div>
    <div class="col-md-4">
        <h2>Instructors</h2>
        <p>Here you can add, edit and view details of instructors. In details you can find the courses each instrutor teach</p>
        <div class="btn btn-default btn-sm">@Html.ActionLink("Instructors", "Index", controllerName: "Instructor") </div> 
    </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <p>Here you can add, edit, view details and enroll as a student. In enroll page you choose courses first then it'll list the
        instructors who teach this course</p>
        <div class="btn btn-default btn-sm">@Html.ActionLink("Students", "Index", controllerName: "Students") </div> 
    </div>
</div>